<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <title>Notes application</title>
    <script src="angular.js"></script>
    <script src="notes.js"></script>
    <style>
        .note {
            background-color:#EEE;
            padding:5px;
            width:80%;
            border:1px solid black;
            margin:10px;
        }

    </style>
</head>
<body ng-controller="NotesController">

    <select ng-model="order">
        <option value="text">Sort alphabetically</option>
        <option value="date">Sort by date</option>
    </select>
<div ng-repeat="note in notes | orderBy:'date'">
    <p class="note">{{note.text}}</p>
    <p>{{note.date | date: 'HH:mm:ss dd.MM.yyyy'}}</p>
    <button ng-click="remove(note._id)">Remove</button>
</div>

Add note:<br>
<textarea rows="10" cols="50" ng-model="text"></textarea>
<button ng-click="add()">Add note</button>

</body>
</html>